**/desktop.ini
**/.ipynb_checkpoints
**/__pycache__
**/.vscode
**/*.pyc
/Implementations/Training/dataset/*.jpg
/Implementations/Training/models/*.pth
/Implementations/Training/pytorch_env
/Implementations/Training/samples/*.jpg